body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}

h1{
    text-align: center;
    color: #2f0252;
    padding: auto;
}
label{
    color: #08ffd1;
    font-size: 100px;
}


span{
    color: white;
    font-size: 17px;
}

.bg{
    padding : 20px;

}